<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title><%= repository %></title>
	<link rel="icon" type="image/x-icon" href="./favicon.ico">
	<meta name="theme-color" content="#1e2327">
	<meta name="color-scheme" content="light dark">
	<!-- Libraries -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/github.min.css" />
	<link rel="stylesheet" href="./style.css">
</head>
<body class="logged-out env-production page-responsive intent-mouse" style="word-wrap: break-word;">
	<div class="application-main">
		<div itemscope="" itemtype="http://schema.org/SoftwareSourceCode">
			<main id="js-repo-pjax-container">
				<div id="repository-container-header" class="hx_page-header-bg pt-3 hide-full-screen mb-5">
					<div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
						<div class="flex-auto min-width-0 width-fit mr-3">
							<h1 class=" d-flex flex-wrap flex-items-center break-word f3 text-normal">
								<svg class="octicon octicon-repo color-text-secondary mr-2" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
									<path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
								</svg>
								<span class="author flex-self-stretch" itemprop="author">
									<a class="url fn" rel="author" href="https://github.com/<%= username %>"><%= username %></a>
								</span>
								<span class="mx-1 flex-self-stretch color-text-secondary">/</span>
								<strong itemprop="name" class="mr-2 flex-self-stretch">
									<a href="https://github.com/<%= username %>/<%= repository %>"><%= repository %></a>
								</strong>
							</h1>
						</div>
					</div>
					<div id="responsive-meta-container">
						<div class="d-block d-md-none mb-2 px-3 px-md-4 px-lg-5">
							<p class="f4 mb-3"><%= description %></p>
							<div class="mb-2 d-flex flex-items-center">
								<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="octicon octicon-link flex-shrink-0 mr-2">
									<path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path>
								</svg><span class="flex-auto min-width-0 css-truncate css-truncate-target width-fit">
									<a title="https://<%= username %>.github.io/<%= repository %>/" target="_blank" class="text-bold" rel="noopener noreferrer" href="https://<%= username %>.github.io/<%= repository %>/"><%= username %>.github.io/<%= repository %>/</a>
								</span>
							</div>
						</div>
					</div>
					<nav aria-label="Repository" class="js-repo-nav js-sidenav-container-pjax js-responsive-underlinenav overflow-hidden UnderlineNav px-3 px-md-4 px-lg-5">
						<ul class="UnderlineNav-body list-style-none">
							<li class="d-flex">
								<a id="code-tab" href="#/" aria-current="page" class="UnderlineNav-item hx_underlinenav-item no-wrap js-responsive-underlinenav-item js-selected-navigation-item selected">
									<svg class="octicon octicon-code UnderlineNav-octicon d-none d-sm-inline" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
										<path fill-rule="evenodd" d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"></path>
									</svg><span>Code</span></a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="container-xl clearfix new-discussion-timeline px-3 px-md-4 px-lg-5">
					<div id="repo-content-pjax-container" class="repository-content">
						<div>
							<div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
								<div class="flex-shrink-0 col-12 col-md-12 mb-4 mb-md-0">
									<div class="file-navigation mb-3 d-flex flex-items-start">
										<div class="flex-1 mx-2 flex-self-center f4">
											<div id="breadcrumb" class="d-none d-sm-block"></div>
										</div>
									</div>
									<div class="Box mb-3">
										<div class="js-details-container Details">
											<div id="files" role="grid" aria-labelledby="files" class="js-navigation-container js-active-navigation-container d-md-block"></div>
										</div>
									</div>
								</div>
								<div class="flex-shrink-0 col-12 col-md-3">
									<div class="BorderGrid BorderGrid--spacious">
										<div class="BorderGrid-row hide-sm hide-md">
											<div class="BorderGrid-cell">
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<div class="footer container-xl width-full p-responsive" role="contentinfo">
		<div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 color-text-secondary border-top color-border-secondary"></div>
	</div>
	<!-- Libraries -->
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js"></script>
	<script src="./script.js"></script>
</body>
</html>